<h1>
@Input
</h1>

<app-input-example firstName="Pigletshvily" [pigletAge]="age" ></app-input-example>

<h1>
@Output
</h1>

<app-output-example (buttonClicked)="helloWorld($event)"></app-output-example>

<h1>
Template Reference Variable
</h1>

<app-trv-video-player-example #videoPlayer="myVideoPlayer"></app-trv-video-player-example>

<button (click)="videoPlayer.play()">
  play
</button>

<p #saveTheP>
  some text
</p>

<!--
<input [(ngModel)]="stam" required minlength="3" email #ngModelInstance="ngModel" />
{{ ngModelInstance.errors }}
-->

<h2>
  @ViewChild
</h2>

<app-view-child-example></app-view-child-example>


<app-ng-if-question></app-ng-if-question>

<h2>
  TemplateRef
</h2>

<app-template-ref-example></app-template-ref-example>

<h2>
  Structural directive
</h2>

<app-structural-directives-example></app-structural-directives-example>

<h2>
ng-content
</h2>

<app-ng-content-example>
  <h1>
    hello child
  </h1>
</app-ng-content-example>
